# Quarto specific
.quarto/
.ipynb_checkpoints/
.vscode/
docs
/.quarto/
/.luarc.json
/_freeze/
/_site/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# For the API doc generator
/autonity
