# Quarto specific
.quarto/
.ipynb_checkpoints/
.vscode/
docs
/.quarto/
/.luarc.json
/_freeze/
/_site/


# Software Catalog
__pycache__/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
