@font-face {
    font-family: 'berkeley mono';
    src: url('../fonts/berkeley/BerkeleyMonoVariable-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'berkeley mono';
    src: url('../fonts/berkeley/BerkeleyMonoVariable-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*
Hide the view and edit page links "Edit this page", "Create child page", "Create project issue".
Docsy Userguide reference: ./themes/docsy/userguide/content/en/docs/Adding content/repository-links.md.
*/
.td-page-meta--edit {
    display: none !important;
}

.td-page-meta--child {
    display: none !important;
}

.td-page-meta--project-issue {
    display: none !important;
}


/**
* Fix margin issue for ToC menu "edit page report issue" links.
*/
.td-page-meta.ml-2.pb-1.pt-2.mb-0 {
    margin-left: 0 !important;
}

/**
* Remove broken footer
*/
footer.bg-dark.py-5.row.d-print-none {
    display: none;
}

/**
* Hide nav bar space when on smaller devices
*/
@media (max-width: 991.98px) {
    .td-navbar .td-navbar-nav-scroll {
        display: none;
    }
}

/**
* Fix height issue for left hand navigation
*/
@media (min-width: 768px) {
    @supports (position: sticky) {
        .td-sidebar-nav {
            max-height: calc(100vh - 64px);
        }
    }
}

/**
* Word break on large words (stop them overlapping ToC)
*/
.td-content {
    word-wrap: break-word;
}

html {
    font-variation-settings: 'wght' 100;
}

/**
* Fix word spacing for large header tags
*/
h1,
h2,
h3,
.h1,
.h2,
.h3 {
    letter-spacing: -1px;
}