$primary: #000000;
$secondary: #A23B72;
$link-color: $secondary;
$font-size-base: 0.85rem;
$td-enable-google-fonts: false;
$theme-font-family: 'Berkley Mono';
$font-family-base: 'Berkley Mono';
$td-fonts-serif: 'Berkley Mono';