
/*-- scss:rules --*/

:root {
    --foreground-color: #000000;
    --secondary-color: #4a4a4a;
    --background-color: #ffffff;  
    --header-font: 'Berkeley Mono', monospace;
    --body-font: 'Noto Sans', sans-serif;
  }
