
/*-- scss:rules --*/

:root {
    --foreground-color: #000000;
    --header-background-color: #000000;
    --header-font-color: #ffffff;
    --secondary-color: #4a4a4a;
    --background-color: #ffffff;  
    --highlight-color: #6a274b;
    --header-font: 'Berkeley Mono', monospace;
    --body-font: 'Noto Sans', sans-serif;
    --header-boarder: none;
  }
