/*-- scss:fonts --*/
@font-face {
    font-family: 'Berkeley Mono';
    src: url('_theme/fonts/berkeley/BerkeleyMono-Regular.woff2') format('woff2'),
        url('_theme/fonts/berkeley/BerkeleyMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Berkeley Mono';
    src: url('_theme/fonts/berkeley/BerkeleyMono-Bold.woff2') format('woff2'),
        url('_theme/fonts/berkeley/BerkeleyMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Berkeley Mono';
    src: url('_theme/fonts/berkeley/BerkeleyMono-Italic.woff2') format('woff2'),
        url('_theme/fonts/berkeley/BerkeleyMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('_theme/fonts/noto/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('_theme/fonts/noto/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('_theme/fonts/noto/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

/*-- scss:defaults --*/
$font-family-sans-serif: 'Noto Sans' sans-serif;
$link-color: #a23b72;
$link-color-hover: #6a274b;
$text-muted: #6a737b;
$font-family-monospace: 'Berkeley Mono', monospace;
$font-size-root: 0.95rem;

:root {
    --secondary-border: var(--border-thickness) solid var(--bs-body-color);
    --primary-border: var(--border-thickness) solid var(--bs-body-color);
    --border-thickness: 1.53px;
    --green: #528f18;
    --blue: #5656e9;
    --purple: #906ce3;
    --tertiary-color: #9d9d9d;
}
/*-- scss:rules --*/
body {
    font-family: proxima nova,sans-serif;
}

a {
    color: $link-color;
    text-decoration: none;
    background-color: transparent;
}


a:hover {
    color: $link-color-hover;
    text-decoration: none;
}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
    color: $link-color;
}

code {
    color: inherit;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba(0, 0, 0, 5%);
    border-radius: 0.25rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Berkeley Mono', monospace;
}

.navbar-dark {
    background-color: #000000;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #ffffff;
}

.notice {
    font-family: 'London Underground';
}

.sidebar-item {
    margin-bottom: 0.5em;
}

.sidebar-item-container {
    margin-bottom: 0.5em;
}

/**
* Handle footer content, prevent wrapping
*/
.footer-list {
    white-space: nowrap;
}


.footer-link {
    border: var(--primary-border);
    font-family: var(--header-font);
    padding: 12px 30px;
    width: 50%;
}

.footer-link:hover {
    border-color: var(--highlight-color);
}

.footer-link > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--foreground-color);
}

.footer-navigation {
    display: flex;
    gap: 15px;
}
img.footer-link-image {
    width: 15px;
}
.footer-link-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prev-link>a>.footer-link-text {    
    align-items: end;
}

.footer-link:hover .contract-name {
    color: var(--highlight-color);
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.25rem;
    }
}

table.table {
    border: var(--primary-border);
}

.table>thead {
    border-top-width: 0;
    border: var(--primary-border);
}

.table>:not(caption)>*>* {
    border: var(--primary-border);
}
td {
    width: 33%;
}


.payable-tag {
    color: var(--green);
}

.view-tag { 
    color: var(--blue);
}

.pure-tag {
    color: var(--purple);
}

.mutability-wrapper {
    position: relative;
    width: 100%;
}

.mutability-tag {
    border: var(--primary-border);
    padding: 2px 12px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    width: 74px;
    text-align: center;
    top: -30px;
}

TOC .nav-link {
    width: 100%;
    max-width: 250px;
}
#TOC ul li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.sidebar nav[role=doc-toc] ul>li>ul>li>a {
    padding-left: 1.2em;
}

.footer-meta-data {
    display: flex;
    justify-content: flex-end;
}
.footer-version {
    color: var(--tertiary-color);
}

.contract-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1.5rem;
}