<!-- Override Docsy favicon layout -->
<link rel="shortcut icon" href="{{ "/favicons/favicon.ico" | relURL }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" type="image/png" />
<link rel="icon" sizes="192x192" href="/favicons/android-chrome-192x192.png" type="image/png" />
<link rel="icon" sizes="512x512" href="/favicons/android-chrome-512x512.png" type="image/png" />
<link rel="icon" sizes="192x192" href="/favicons/android-chrome-maskable-192x192.png" type="image/png" />
<link rel="icon" sizes="512x512" href="/favicons/android-chrome-maskable-512x512.png" type="image/png" />
